# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

src/deDupify\.VC\.opendb

src/FileSystem/x64/Debug/FileSystem\.tlog/

src/WinTestProject/x64/Debug/WinTestProject\.tlog/

src/WinTestProject/x64/Debug/

*.ipch

src/FileSystem/x64/Debug/

*.sdf
